{% extends "base.html" %}
{% block title %}
コメント一覧
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="my-5">コメント一覧</h1>
    for comment in object_list
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          <a href="#">
             comment.title 
          </a>
        </h5>
        <p class="card-text"> comment.body </p>
      </div>
    </div>
    endfor
    include 'simple_pagination.html'
    <hr>
    <div>
      <a href="#">
        <p>
          新規コメントの投稿
        </p>
      </a>
    </div>
  </div>
{% endblock content %}